@use '../Base' as *;
@use '../Mixins/' as *;

button {
    @include button-text;

    background-color: $white;
    cursor: pointer;
    display: inline-block;
    margin: $space-small $space-small $space-small 0;
    text-align: center;
    transition: 400ms;
}

.button-size-large {
    padding: 2rem 3rem;
}

.button-size-medium {
    padding: 1rem 2rem;
}

.button-size-small {
    padding: 0.5rem 1rem;
}

.button-regular {
}

.button-offset {
    @include offset-button;

    border: none;
}