@use '../Base' as *;
@use '../Mixins/' as *;

a {
    @include button-text;

    background-color: $white;
    cursor: pointer;
    display: inline-block;
    // margin: $space-extra-small;
    text-align: center;
    transition: 400ms;
}

.button-size-large {
    padding: $space-medium-small $space-medium;
}

.button-size-medium {
    padding: $space-small $space-medium-small;
}

.button-size-small {
    padding: $space-extra-small $space-small;
}

.button-regular {
}

.button-offset {
    @include offset-button;

    border: none;
}