@use '../Base' as *;
@use '../Mixins/' as *;

.button-container {
    @include button-text;

    background-color: $white;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.button-size-large {
    height: $height-large;
    width: $width-large;
}

.button-size-medium {
    height: $height-medium;
    width: $width-medium;
}

.button-size-small {
    height: $height-small;
    width: $width-small;
}

.button-regular {
}

.button-offset {
    @include offset-button($box-shadow-space, $box-shadow-space, $fresh, 600ms);
}

.button-fill {
    @include fill-button($box-shadow-blur, $box-shadow-spread, 600ms, $watermelon);
}

.button-slide {
    @include slide-button(10rem, $muricanmustard, 600ms);
}