@use '../Base' as *;

.contentSlider-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.slide-dots {
    display: inline-flex;
    justify-content: center;
    margin: 0 $space-medium-large;
    column-gap: $space-extra-small;
}

.contentSlider-navigation-container {
    display: inline-flex;
}

.contentSlider-header {
    font-weight: $font-weight-semi-bold;
}
.fade {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 350ms;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}