@use '../Base' as *;

.contentSlider-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mobile-contentSlider-navigation-position {
	@media (max-width: $media-query-small) {
		top: 0 !important;
		display: grid !important;
		column-gap: 192px;
		grid-template-columns: 1fr 1fr;
    }
}

.mobile-slide-dots {
	@media (max-width: $media-query-small) {
		display: none !important;
    }
}

.slide-dots {
    display: inline-flex;
    justify-content: center;
    margin: 0 $space-medium-large;
    column-gap: $space-extra-small;
}

.contentSlider-navigation-container {
    display: inline-flex;

	@media (max-width: $media-query-small) {
		position: relative;
		top: 92px;
    }
}

.fade {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 350ms;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}