@use '../Base' as *;

.video {
    border: none;
    width: 100%;
}

.video-height-spotify {
    height: $height-video-spotify;
}

.video-height-youtube {
    height: $height-video-youtube;

    @media (min-width: $media-query-large) {
        height: $height-video-youtube-large;
    }   
}