@font-face {
  font-family: "Roboto";
  src: url("../../../fonts/Roboto/Roboto-Regular.ttf");
}
button {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: 400ms;
  border: none;
  margin: 1rem 1rem 1rem 0;
}

.button-size-large {
  padding: 2rem 3rem;
}

.button-size-medium {
  padding: 1rem 2rem;
}

.button-size-small {
  padding: 0.5rem 1rem;
}

.button-regular {
  font-family: "Roboto";
  font-size: 20px;
  box-shadow: 0.3rem 0.3rem 0 0 #4ABDAC, inset 0.3rem 0.3rem 0 0 #4ABDAC;
  background-color: #FFFFFF;
}
.button-regular:hover, .button-regular:focus {
  box-shadow: 0 0 0 0 #4ABDAC, inset 6rem 3.5rem 0 0 #4abd7e;
}