@font-face {
  font-family: "Roboto";
  src: url("../../../fonts/Roboto/Roboto-Regular.ttf");
}
a {
  font-family: "Roboto";
  font-size: 20px;
  background-color: #FFFFFF;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: 400ms;
}

.button-size-large {
  padding: 2rem 3rem;
}

.button-size-medium {
  padding: 1rem 2rem;
}

.button-size-small {
  padding: 0.5rem 1rem;
}

.button-offset {
  box-shadow: 0.3rem 0.3rem 0 0 #4ABDAC, inset 0.3rem 0.3rem 0 0 #4ABDAC;
  border: none;
}
.button-offset:hover {
  box-shadow: 0 0 0 0 #4ABDAC, inset 6rem 4.5rem 0 0 #4abd8d;
}