.navbar-container {
  margin: 0;
  height: 6rem;
  background-color: #FFFFFF;
}

.navbar-link {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: bold;
  color: #A9A9A9;
}
.navbar-link :hover {
  color: #FF3B3F;
}