@use '../Base' as *;
@use '../Mixins/' as *;

.blog-container {
    @include regular-text;
    margin: $space-medium-large $space-medium;

    font-weight: $font-weight-medium;
    line-height: $line-height-medium-large;
    
    @media (min-width: $media-query-large) {
        font-weight: $font-weight-medium;
        line-height: $line-height-large;
        margin: $space-large;
    }

    @media (max-width: $media-query-small) {
        margin: $space-small;
    }
}

.blog-header {
    text-align: center;
    margin: $space-medium 0; 

    h1 {
        margin-bottom: $space-medium;
    }

    @media (min-width: $media-query-large) {
        margin: $space-large 0;
    }

    @media (max-width: $media-query-small) {
        text-align: left;
    }
}