@use '../Base' as *;
@use '../Mixins/' as *;

.blog-container {
    @include regular-text;
    margin: $space-medium-large;

    font-weight: $font-weight-medium;
    line-height: $line-height-medium-large;

    h1 {
        @include header-text;
        line-height: 0;
    }
    
    @media (min-width: $media-query-large) {
        font-weight: $font-weight-medium;
        line-height: $line-height-large;
        margin: $space-large;
    }
}
