@use '../Base' as *;
@use '../Mixins/' as *;

.blog-container {
    @include regular-text;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    font-weight: $font-weight-medium;
    line-height: $line-height-medium-large;

    h1 {
        @include header-text;
        line-height: 0;
    }
    
    @media (min-width: $media-query-large) {
        font-weight: $font-weight-medium;
        line-height: $line-height-large;
    }
}

.blog-leftside-column {
    @include flex-column;
    margin: $space-small 0 $space-small $space-medium;

    @media (min-width: $media-query-large) {
        margin: $space-large $space-medium;
    }
}

.blog-rightside-column {
    @include flex-column;
    margin: $space-small $space-small $space-small 0;

    @media (min-width: $media-query-large) {
        margin: $space-large $space-medium;
    }
}