@use '../Base' as *;
@use '../Mixins/' as *;

.home-container {
    @include regular-text;
    font-weight: $font-weight-medium;
    line-height: $line-height-medium-large;
    margin: $space-small $space-medium;
    width: fit-content;

    display: grid;
    grid-template-areas: 
        'homeTextArea homeRightContent'
        'homeBottomLeftContent homeRightContent';
    grid-template-columns: 1fr 1fr;

    h1 {
        @include header-text;
                    
        @media (max-width: $media-query-small) {
            line-height: $line-height-medium;
        }
    }
    
    @media (min-width: $media-query-large) {
        line-height: $line-height-large;
    }

    @media (max-width: $media-query-small) {
        margin: 0 $space-extra-small;
        display: grid;
        grid-template-areas: 
            'homeTextArea'
            'homeRightContent'
            'homeBottomLeftContent';
        grid-template-columns: 1fr;
    }
}

.home-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    column-gap: $space-small;

    @media (max-width: $media-query-small) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: $space-small;
    }

    @media (min-width: $media-query-large) {
        column-gap: $space-medium;
    }
}

.home-text-area {
    grid-area: homeTextArea;
}

.home-bottom-left-content {
    grid-area: homeBottomLeftContent;
}

.home-right-content {
    grid-area: homeRightContent;

    @media (max-width: $media-query-small) {
        margin-bottom: $space-large;
    }
}

.name-highlight {
    color: $fresh;
    font-weight: $font-weight-semi-bold;
}

.hidden-korok {
    color: brown;
    cursor: url(../../Content/images/flying-korok.png), pointer;
    font-weight: $font-weight-semi-bold;
    text-decoration: none;
}