@use '../Base' as *;
@use '../Mixins/' as *;

.home-container {
    @include regular-text;
    display: flex;
    flex-direction: row;
    font-weight: $font-weight-medium;
    line-height: $line-height-medium-large;

    h1 {
        @include header-text;
    }
    
    @media (min-width: $media-query-large) {
        font-weight: $font-weight-medium;
        line-height: $line-height-large;
    }
}

.home-leftside-container {
    margin: 0 $space-small;
    padding: $space-medium-small;

    @media (min-width: $media-query-large) {
        margin: $space-large $space-medium;
        padding: $space-medium-large $space-medium;
    }
}

.home-rightside-container {
    //TODO: CHANGE THIS WHEN WORKING ON RIGHTSIDE CONTENT
    border: $border-thickness-thicc dotted $fresh;
    border-radius: $border-radius-regular;
    margin: $space-small $space-medium;
    padding: $space-medium-small;

    @media (min-width: $media-query-large) {
        margin: $space-large;
        padding: $space-medium-large $space-medium;
    }
}

.name-highlight {
    color: $fresh;
    font-weight: $font-weight-semi-bold;
}

.hidden-korok {
    color: brown;
    cursor: url(../../Content/images/flying-korok.png), pointer;
    font-weight: $font-weight-semi-bold;
}