@use '../Base' as *;
@use '../Mixins/' as *;

.portfolio-container {
    @include regular-text;
    text-align: center;

    font-weight: $font-weight-medium;
    line-height: $line-height-medium-large;

    margin: $space-medium-large;

    h1 {
        @include header-text;
    }
    
    @media (min-width: $media-query-large) {
        font-weight: $font-weight-medium;
        line-height: $line-height-large;
        margin: $space-large;
    }
}

.portfolio-items {
    display: grid;
    justify-content: center;
    row-gap: 24px;
}