body {
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;

    //Prevent padding and border from increasing the element size
    box-sizing: border-box;
    *:before, *:after {
        box-sizing: inherit;
    }
}