@use '../Base' as *;

.avatar-background {
    display: flex;
    justify-content: center;

    img {
        width: 230px;

        @media (min-width: $media-query-large) {
            width: 380px;
        }
    }
}