@use '../Base' as *;
@use '../Mixins/' as *;

.blog-post-container {
    @include card-layout;
    line-height: $line-height-medium-large;
    padding: $space-medium-small;

    @media (max-width: $media-query-small) {
        padding: $space-small;
    }
}

.blog-post-header {
    text-align: center;

    h1 {
        @include header-text;

        @media (max-width: $media-query-small) {
            line-height: $line-height-large;
        }
    }
}

.blog-post-grid {
    display: grid;
    justify-content: left;
    grid-template-columns: 50% 50%;
    column-gap: $space-small;
    margin-top: $space-extra-small;

    @media (min-width: $media-query-large) {
        margin-top: $space-small;
    }

    @media (max-width: $media-query-small) {
        grid-template-columns: 100%;
        justify-content: center;

        h2 {
            font-size: $font-size-small-text;
        }
    }
}

.blog-post-right-column {
    margin-top: auto;
}