@use '../Base' as *;
@use '../Mixins/' as *;

.navbar-container {
    background-color: $white;
    display: flex;
    padding: $space-small 0;
    justify-content: flex-end;
    align-items: center;
}

.navbar-logo-container {
    margin-left: $space-large;
    margin-right: auto;
    cursor: pointer;
}

.navbar-link {
    @include navbar-link-text;
    color: $black;
    cursor: pointer;
    margin-right: $space-small;

    a:hover {
        color: $fresh;
    } 

}

.navbar-link:last-child {
    margin-right: $space-medium;
}