@use '../Base' as *;
@use '../Mixins/' as *;

.portfolio-item-container {
    @include card-layout;
    width: 100%;
}

.portfolio-item-thumbnail {
    width: 240px;

    @media (min-width: $media-query-large) {
        width: 312px;
    }
}

.portfolio-item-thumbnail-container {
    height: 192px;

    @media (min-width: $media-query-large) {
        height: 264px;
    }
}

.portfolio-item-blurb {
    text-align: left;
    padding: 0 $space-medium-small $space-medium-small $space-medium-small;
}

.portoflio-item-icons {
    @include icon-layout;
    column-gap: $space-medium-small;
}