@use '../Base' as *;
@use '../Mixins/' as *;

.portfolio-item-container {
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: $width-project-item;
    height: fit-content;

    p {
        font-size: $font-size-extra-small-text;
        @media (min-width: $media-query-large) {
            font-size: $font-size-text;
        }
    }

    &:hover {
        box-shadow: 0 1rem 2rem 0 rgba(0,0,0,0.2);
    }
}

.portfolio-item-blurb {
    text-align: left;
    padding: 0 $space-medium-small $space-medium-small $space-medium-small;
}

.portoflio-item-icons {
    @include icon-layout;
    column-gap: $space-medium-small;
}

.coming-soon {
    width: inherit;
    background-color: red;
    height: 168px;
}