@use '../Base' as *;
@use '../Mixins/' as *;

.skillscontent-container {
    margin-top: $space-medium;
    text-align: center;
}

.skillscontent-icons {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    column-gap: $space-medium-large;

    @media (min-width: $media-query-large) {
        column-gap: $space-medium;
    }
}

