@use '../Base' as *;
@use '../Mixins/' as *;

.skillscontentslider-container {
    margin-top: $space-small;
    text-align: center;

    @media (min-width: $media-query-large) {
        margin-top: $space-medium;
    }
}

.skills-icons {
    @include icon-layout;
    width: fit-content;
    height: 204px;

    @media (max-width: $media-query-small) {
        column-gap: $space-small;
        height: 96px;
        max-width: 360px;
    }

    @media (min-width: $media-query-large) {
        column-gap: $space-medium;
        height: 120px;
    }
}

.skills-header {
    font-weight: $font-weight-semi-bold;
}
