@use '../Base' as *;

.socialmediaiconbar-container {
    display: inline-flex;
    flex-direction: row;
    gap: $space-medium;
    margin: $space-medium-small $space-medium 0 0;

    @media (max-width: $media-query-small) {
        //janky mobile
        gap: 12px;
        margin: $space-medium-small 0;
    }
}