@font-face {
  font-family: "Roboto";
  src: url("../../../fonts/Roboto/Roboto-Regular.ttf");
}
body {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}

.home-container {
  padding-top: 3rem;
  padding-left: 3rem;
  border-style: dotted;
}

.intro-header-container {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 500;
  line-height: 2rem;
}
.intro-header-container h1 {
  font-family: "Roboto";
  font-size: 48px;
}

.intro-name {
  color: #4ABDAC;
}

.home-content-container {
  padding-top: 1rem;
}