@font-face {
  font-family: "Roboto";
  src: url("../../../fonts/Roboto/Roboto-Regular.ttf");
}
.navbar-container {
  background-color: #FFFFFF;
  display: flex;
  padding: 1rem 0;
  justify-content: flex-end;
  align-items: center;
}

.navbar-logo-container {
  margin-left: 6rem;
  margin-right: auto;
  cursor: pointer;
}

.navbar-link {
  font-family: "Roboto";
  font-size: 16px;
  color: #000000;
  cursor: pointer;
  margin-right: 1rem;
}
.navbar-link a {
  color: #000000;
  text-decoration: none;
}
.navbar-link a:hover {
  color: #4ABDAC;
}

.navbar-link:last-child {
  margin-right: 3rem;
}