@use '../Base' as *;

//Fade border
@mixin fade-border-left{
    border: $border-thickness-thicc solid $fresh;
    border-radius: $border-radius-regular;
};

//Circular border
@mixin circular-border {
    border: $border-thickness-regular solid $white;
    border-radius: $border-radius-regular;
}