@use '../Base' as *;

//Regular text 
@mixin regular-text {
    font-family: $standard-font;
    font-size: $font-size-small-text;

    a {
        color: $black;
        text-decoration: none;
    }

    @media (max-width: $media-query-small) {
        font-size: $font-size-extra-small-text;
    }

    @media (min-width: $media-query-large) {   
        font-size: $font-size-text;
    }
}

//Button text
@mixin button-text {
    font-family: $standard-font;
    font-size: $font-size-small-text;
}

//Header text
@mixin header-text {
    font-family: $standard-font;
    font-size: $font-size-small-title;
    line-height: 1rem;

    @media (max-width: $media-query-small) {
        font-size: $font-size-mobile-title;
    }

    @media (min-width: $media-query-large) {   
        font-size: $font-size-title;
    }
}

//Tooltip text
@mixin tooltip-text {
    font-family: $standard-font;
    font-size: $font-size-extra-small-text;
}