@use '../Base' as *;

//Regular text font mixin
@mixin regular-text {
    font-family: $standard-font;
    font-size: $font-size-text;
}

//Header-text
@mixin header-text {
    font-family: $standard-font;
    font-size: $font-size-title;
}

//Navbar link
@mixin navbar-link-text {
    font-family: $standard-font;
    font-size: $font-size-navbar-link;

    a {
        color: $black;
        text-decoration: none;
    }
}