@use '../Base' as *;

//Flex column mixin
@mixin flex-column {
    display: flex;
    flex-direction: column;
    //https://stackoverflow.com/questions/37386244/what-does-flex-1-mean
    flex: 1;
}

//Icon layout mixin
@mixin icon-layout {    
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: $space-medium-large;
}