@use '../Base' as *;

//Flex column mixin
@mixin flex-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    //https://stackoverflow.com/questions/37386244/what-does-flex-1-mean
    flex: 1;
}