//Neutral/shades
$white: #FFFFFF;
$gainsboro: #DCDCDC;
$black: #000000;
$carbon: #A9A9A9;
$neutral: #EFEFEF;
$whitesmoke: #F5F5F5;

//reds
$watermelon: #FF3B3F;



//blues
$sky: #CAEBF2;
$fresh: #4ABDAC;