//Media queries
$media-query-small: 536px;
$media-query-large: 1536px;

//Height
$height-small: 24px;
$height-medium: 48px;
$height-large: 72px;
$height-card-item: 324px;
$height-card-item-large: 408px;
$height-video-spotify: 152px;
$height-video-spotify-large: 204px;
$height-video-youtube: 360px;
$height-video-youtube-large: 456px;

//Width
$width-small: 72px;
$width-medium: 144px;
$width-large: 192px;
$width-card-item: 840px;

//Borders
$border-thickness-regular: 2px;
$border-thickness-thicc: 12px;
$border-radius-regular: 24px;
$border-radius-large: 48px;