//Media queries
$media-query-large: 1536px;

//Height
$height-small: 24px;
$height-medium: 48px;
$height-large: 72px;

//Width
$width-small: 72px;
$width-medium: 144px;
$width-large: 192px;

//Borders
$border-thickness-regular: 2px;
$border-thickness-thicc: 12px;
$border-radius-regular: 24px;
$border-radius-large: 48px;