//Font imports via font face
@font-face {
    font-family: 'Roboto';
    src: url('../../../fonts/Roboto/Roboto-Regular.ttf');
}

//Font styles
$standard-font: "Roboto";

//Font sizes
$font-size-extra-small-text: 16px;
$font-size-small-text: 20px;
$font-size-text: 24px;
$font-size-mobile-title: 26px;
$font-size-small-title: 36px;
$font-size-title: 48px;

//Font weights
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-medium: 500;